#wrapper{font-family: Arial;}
.container{
    width: 95%;
    margin: 0 auto;
    
}
#subheader{
    width: 100%;
    height: 3em;
    background: #46bfb0;
    color: #fff;
    margin-top:0em;
}
#subheader p{
    float: left;
    margin-top: 1em;
}
#subheader a{
    float: right;
    line-height:2em ;
    color: #fff;
    text-decoration: none;
    margin-left: 4em;
}
/*logo styling*/
#main-header{
    width: 100%;
    height: 6em;
    background: #1aaa1a;
    float: left;
    margin-top: -1em;
}
#logo{
    width:20.9em;
    margin-top:1em;
    float: left;
}
#ist{
    color:black;
    font-size: 4em;
    font-weight: bold;
    margin-left: 0em;
    font-family: Arial;
}
#iist{
    color:black;
    font-size: 2.5em;
    font-weight: bold;
    font-family: Roboto;

}
/*Search area*/
#search{
    width: 100px;
    float: right;
    padding: 20px;
    margin-left: 1em;
    position:relative;
}
#search-area{
    width: 800px;
    height: 50px;
    background: #fff;
    border: none;
    border-radius: 1em;
    float: right;
    padding-right: 1em;
}
#search-btn{
    width: 10em;
    height: 54px;
    border-radius: 1em;
    border: none;
    color:#fff;
    background: brown;
    margin-left: -35px;
    margin-top: 1px;
    position:absolute;
}

/*navaigation bar*/
#navigation{
    width: 100%;
    height: 3em;
    background: #1aaa1a;
    float: left;
}
nav{
    width:90em;
    margin: 0 auto;
}
nav a{
    margin-left: 4em;
    float: left;
    color:white;
    text-decoration: none;
    
}
nav a:hover{
    color:#000;
    transition: all .7s ease; 
}
/*slider area*/
#slider{
    width: 100%;
    max-width: 100%;
    float: left;
    overflow: hidden;
}
.bx-wrapper .bx-viewport{
    margin-top: -1em;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
    bottom: 1em;
}
.bx-wrapper .bx-pager.bx-default-pager a
{
  width: 1em;
  height: 1em;
  border-radius: 1em;
}
/*======category heading======*/
#heading-block{
    width: 100%;
    height: auto;
    float: left;
    color: #1aaa1a;
}
#heading-block h2{
    border-left: 1em solid #1aaa1a;
    padding-left: 1em;
}
/*===Category boxes=====*/
.catbox{
    width: 14em;
    height: 15em;
    float: left;
    overflow: hidden;
    position: relative;
    margin:1em ;
}
.catbox span{
    width: 100%;
    height: 3em;
    line-height: 3em;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: block;
    bottom: 2em;
    position: absolute;
    z-index: 999;
    text-align: center;
}
.catbox img{
    max-width: 100%;
    transition: all .5s ease;
}
.catbox:hover span{
    color: red;
}
.catbox:hover img{
    transform: scale(1.3,1.3);
    transition: all .5s ease;
}
/*products styling*/
.prod-box{
	width: 20em;
	height: 20em;
	overflow: hidden;
	margin: 0em 1em 3em 0em;
	position: relative;
	float: left;
}
.prod-box>img{
	max-width: 100%;
}
.prod-trans{
	background:rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	top:0em;
	left: 0em;
	right: 0;
	position: absolute;
	opacity:0;
	transition:all .5s ease;
}
.prod-box:hover .prod-trans{
	opacity:1;
	transition:all .5s ease;
}
.prod-feature{
    text-align: center;
    margin-top: -9em;
    transition: all .5s ease;
}
.prod-feature p{
    color: #00eb00;
    font-family: Arial;
}
.prod-box:hover .prod-feature {
    margin-top:  10em;
    transition: all .5s ease;
}
.prod-feature input{
    width: 10em;
    height: 3em;
    font-size: 1em;
}
#footer{
    width: 100%;
    height: auto;
    background: #f5f5f5;
    float: left;
}
.footer_sub_1{
    width: 25%;
    float: left;
}
.footer_sub_2{
    width: 20%;
    float: left;
}
.footer_sub_2 ul li{
    list-style: none;
}
.footer_sub_2 ul li a{
    text-decoration: none;
    color: #000;
}
.footer_sub_2 ul li a:hover{
    color: #1aaa1a;
    text-decoration: underline;
}
.footer_sub_3{
	width: 35%;
	float: left;
}
#subs{
	width: 30em;
	border: none;
	height: 4.5em;
	padding-left: 1em;
	float: left;
}
#sub_btn{
	height: 4em;
    border: none;
    background: #1aaa1a;
	float: left;
}
#sub_p{
	color: #999;
	font-style: italic;
    font-size: 1em;
    float: left;
}
#Rano{
	font-style: italic;
    font-size: 20px;
    float:left; 
    margin-left: 100px;
    width:60%;
    margin-top:10px;

}
.menu-toggle{
    color: white;
    position: absolute;
    top: 6em;
    left: 1em;
    font-size: 20px;
    display: none;
}
#color11{
    color:#fff;
    font-weight:bold;
}

#color{
    color:#fff;
    font-weight:bold;
}

#color1
{
    color:#fff;
    font-weight:bold;
}
#color2
{
    color:#fff;
    font-weight:bold;
}
#color3
{
    color:#fff;
    font-weight:bold;
}
#color4
{
    color:#fff;
    font-weight:bold;
}
#color5
{
    color:#fff;
    font-weight:bold;
}
#color6
{
    color:#fff;
    font-weight:bold;
}
#color7
{
    color:#fff;
    font-weight:bold;
}
#color8
{
    color:#fff;
    font-weight:bold;
}
#color9
{
    color:#fff;
    font-weight:bold;
}
#color10
{
    color:#fff;
    font-weight:bold;
}
#color10
{
    color:#fff;
    font-weight:bold;
}




    
    


  
  